!!!
%html
  %head
    %title Slow Food
  %body
    %div
      %ul
        - @restaurants.each do |restaurant|
          %li= restaurant[:name]
          %ul
            %li Address: #{restaurant[:address]}
            %li Email: #{restaurant[:email]}
            %li Phone: #{restaurant[:phone]}
